	{% extends 'base.html' %}

	{% block title %} About {% endblock %}

	{% block header %}
	{% include 'headers/about.html' %}
	{% endblock %}

	{% block contents %}


    <main role="main" class="container">

      <div class="jumbotron">
        <h1>Bella Vista Chateau</h1>
        <p class="lead">Where nature liveth.<br> The ulitmate estate for your vacation, weddings, and magic moments.</p>
	      <p>We are under construction still, building the Magic moments Destination one block at a time</p>
	 <a href="https://github.com/pierre1869/"<img src="pierre1869.github.io/blob/master/IMG-20180206-WA0037.jpg"
	      <a href="/blog.html"</a>


				<div class="btn-group btn-group-lg">
					<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-lock"></em> B&C Lodges and Resorts
					</button>
					<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-lamp"></em> B&C Tours and Cruises
					</button>
					<button class="btn btn-default" type="button">
					<em class="glyphicon glyphicon-home"></em> B&C Sponsorships and Marathons
					</button>
					</div>

      </div>
    </main><!-- /.container -->

	{% endblock %}
